body {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/fondo01.jpg);
    /*background-image: url(/tp0-grupo1/imagenes/fondo01.jpg);*/
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}
main{
    padding: 140px 0px 50px 0px;
}
form { 
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px ;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #e7e7e7;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;   
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #86AB41;
    color: #e7e7e7;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    form {
        width: 60%;
    }
}
@media (max-width:600px){
    form{
        width: 95%;
    }
}

#my-form-status {
    color: palevioletred;
}