*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Estilo del header*/
.header{
    width: 100%;
    height: 40vh;
    background-color:#334750;
}

body{
    background-color: aliceblue;
}

header nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 100;
}
.logo{
    width: 60px;
    margin: 20px 0px;
    cursor: pointer;
}

header nav ul {
    background: #fff;
    width: 100%;
    margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px; 
}

nav ul li a {
    text-decoration: none;
    
}
nav ul li a:hover {
    color: #86AB41;
}
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

nav.sticky ul{
    width: auto;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky, .content {
    padding-top: 60px;
} 

/* footer {
    background-color: #334750;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

footer p{
    color:#86AB41;
} */



@media (min-width: 720px) {
    /*header {
        position: fixed;
        width: 100%;
    }
    header.container {
        flex-direction: row;
        justify-content: space-between;  
    }
    header>div>nav {
        padding: 0 5px 5px 0;
        padding-right: 20px;
    }

    .logo {
        justify-content: left;
        text-align: left;
        padding: 10px;
    }*/
}

footer a {
    padding: 5px;
    color: white;
    }
    
footer {
    color: azure;
    background-color: #334750;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

footer p{
    padding: 20px;
}

