*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
}

/*Estilo del header*/
.header{
    width: 100%;
    height: 40vh;
    background-color:#334750;
    text-align: center;
    
}
.header h1 {
    font-family: 'Fuzzy Bubbles', cursive;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 15px;
}

body{
    background-color: aliceblue;
}

header nav{
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}
.logo{
    width: 60px;
    margin: 20px 0px;
    cursor: pointer;
}

header nav ul {
    background: #fff;
    width: 100%;
    margin-top: 10px;
    padding: 0%; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px; 
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #334750;
    text-align: center;
}
nav ul li a:hover {
    color: #86AB41;
}
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

nav.sticky ul{
    width: auto;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky, .content {
    padding-top: 60px;
} 

/* footer {
    background-color: #334750;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

footer p{
    color:#86AB41;
} */

#hamb, #menu-check {
    display: none;
}

@media (min-width: 720px) {
    /*header {
        position: fixed;
        width: 100%;
    }
    header.container {
        flex-direction: row;
        justify-content: space-between;  
    }
    header>div>nav {
        padding: 0 5px 5px 0;
        padding-right: 20px;
    }

    .logo {
        justify-content: left;
        text-align: left;
        padding: 10px;
    }*/
}

@media only screen and (max-width: 600px) {
    #menu-check:not(:checked) ~ #menu {
        display: none;
    }
    #menu-check:checked ~ #menu {
        display: block;
    }
    #hamb {
        display: block;
        background-color: white;
        font-size: 2em;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 5px;
        width: fit-content;
        padding: 0.2% 2%;
        position: absolute;
        top: 1em;
        right: 0.5em;
    }
    #menu-cerrar {
        display: none;
    }
    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }
}

footer a {
    padding: 5px;
    color: white;
    }
    
footer {
    color: azure;
    background-color: #334750;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

footer p{
    padding: 20px;
}

