*{
    margin: 0;
    box-sizing: border-box;
}

body,main{
    overflow: auto;
}
body{
    background-color: #7EA2A2;
}


.container {
    max-width: 1400px;
    margin: auto;
}


main {
    justify-content: center;
    text-align: center;
    padding: 40px 20px 0px 20px;  
}
main nav {
    padding-top: 50px;
    background-color: #e7e7e7;
    padding: 25px 50px 35px 50px;
    border-radius: 10px;
    box-shadow: #334750 0px 1px 4px;
}
main h3{
    padding: 40px 20px 40px 20px;
    color: black;
}
main nav,.regiones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    
}


/*Animaciones*/
@keyframes fadein {
    0% {
    visibility: visible;
    opacity:0;
    }
    100% {
    visibility: visible;
    opacity:1;
    }
}


section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 20px;
    border-radius: 10px;
    animation-fill-mode: forwards;
    animation: fadein 1s; 
    visibility: hidden;
    animation-fill-mode: forwards;
}

section.noa {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/Salta-noa.jpg);
    animation-delay: 1.5s;
}
section.nea {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/misiones-nea.jpg);
    animation-delay: 1s; 
    align-items: center;
}
section.cuyo {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/mendoza-cuyo.jpg);
    animation-delay: 0.5s; 
}
section.centro {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(/tp0-grupo1/imagenes/inicio/EntreRios-Centro.jpg);
    animation-delay: 1s; 
}
section.patagonia {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/RioNegro-patagonia.webp);
    animation-delay: 1.5s; 
}


.provincias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.provincias {
    height: 200px;
}
.provincias h4 {
    padding-bottom: 10px;
    color: #e7e7e7;
}
.provincias a{
    text-decoration: none;
    color: #e7e7e7;
}
.provincias a:hover {
    color: #86AB41;
}


.map {
    padding-bottom: 15px;
}
main.map h3 {
    padding-top: 10px;
}
.map iframe{
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 10px;
}


.reserva{
    background-color: #e7e7e7;
    padding: 40px 20px 40px 20px;
}
.publicidad{
    background-color: #e7e7e7;
    padding: 40px 20px 40px 20px;
}




@media (min-width: 720px) {
    main{
        padding: 175px 75px 50px 75px;
    }
    main nav {
        padding: 50px 10px 50px 10px;
        border-radius: 0%;
        flex-direction: row;
    }
    main h3{
        padding: 50px 10px 50px 10px;
        color: black;
    }
    .regiones {
        flex-direction: row;
    }
    .regiones p{
        font-size: 14px;
        width: 8.3rem;
    }
    section {
        display: flex;
        flex-direction: row;
        height: 300px;
        width: 21.5%;
        margin: 4px;
        border-radius: 0%;
        align-items: center;
    }
    .map {
        flex-direction: row;
        float: left;
    }
    .map iframe {
        padding: 0px 75px 50px 0px;
        border-radius: 0px; 
    }
    .reserva{
        width: 61.9%;
        height: 224px;
        margin-top: 75px;
        margin-bottom: 20px;
        align-items: center;
    }
    .publicidad{
        width: 61.9%;
        height: 224px;
        align-items: center;
    }
}