*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
}
body,main{
    overflow: auto;
}
body{
    background-color: #7EA2A2;
}
.container {
    max-width: 1400px;
    margin: auto;
}


main {
    justify-content: center;
    text-align: center;
    padding: 175px 75px 50px 75px;
}
main .container-b {
    background-color: #e7e7e7;
    box-shadow: #334750 0px 1px 4px;
    padding: 50px 10px 50px 10px;
    border-radius: 0%;
}
main h3{
    color: black;
    padding: 50px 10px 50px 10px;
}
main .container-b,.regiones{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.titulo-r h3 {
    color: #334750;
    font-size: x-large;
    font-weight: 400;
}
.regiones {
    flex-direction: row;
}
.regiones p{
    font-size: 16px;
    font-weight: 300;
    width: 8.3rem;
}


/*Animaciones*/
@keyframes fadein {
    0% {
    visibility: visible;
    opacity:0;
    }
    100% {
    visibility: visible;
    opacity:1;
    }
}


section {
    background-repeat: no-repeat;
    background-size: cover;
    animation-fill-mode: forwards;
    animation: fadein 1s; 
    visibility: hidden;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 21.5%;
    margin: 4px;
    border-radius: 0%;
    align-items: center;
}
section.noa {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(../imagenes/inicio/Salta-noa.jpg);
    animation-delay: 2.5s;
}
section.nea {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(../imagenes/inicio/misiones-nea.jpg);
    animation-delay: 2s; 
    align-items: center;
}
section.cuyo {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(../imagenes/inicio/mendoza-cuyo.jpg);
    animation-delay: 1.5s; 
}
section.centro {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(../imagenes/inicio/EntreRios-Centro.jpg);
    animation-delay: 2s; 
}
section.patagonia {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(../imagenes/inicio/RioNegro-patagonia.webp);
    animation-delay: 2.5s; 
}


.provincias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    height: 250px;
}
.provincias h4 {
    padding-bottom: 20px;
    color: white;
}
.provincias a{
    text-decoration: none;
    color: white;
}
.provincias a:hover {
    color: #86AB41;
}


.map {
    flex-direction: row;
    float: left;
    margin: 75px 75px 20px 0px ;
}
.map h4 {
    padding: 10px;
    margin-bottom: 5px;
    align-items: center;
}
.map iframe{
    background-repeat: no-repeat;
    background-size: auto; 
    border-radius: 0px; 
}


.reserva {
    background-color: #e7e7e7;
    padding: 50px;
    width: 61.5%;
    height: 244px;
    margin-top: 75px;
    margin-bottom: 25px;
    align-items: center;
}
.publicidad{
    background-color: #e7e7e7;
    padding: 50px;
    width: 61.5%;
    height: 244px;
    align-items: center;
}
.reserva p,.publicidad p {
    color: #334750;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin: 0%;
}
.reserva h4, .publicidad h4, .map h4{
    color: white;
    background-color: #86AB41;
}
.reserva h4, .publicidad h4, .provincias h4, .map h4 {
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}


.noa, .nea, .cuyo, .centro, .patagonia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.noa:hover {
    box-shadow: 2px 8px 10px;
    transform: translate(-1px,-6px);
    transition: transform 0.4s ease;
    will-change: transform; /*Optimiza el efecto de transformación*/
}
.nea:hover {
    box-shadow: 2px 8px 10px;
    transform: translate(-1px,-6px);
    transition: transform 0.4s ease;
    will-change: transform;
}
.cuyo:hover {
    box-shadow: 2px 8px 10px;
    transform: translate(-1px,-6px);
    transition: transform 0.4s ease;
    will-change: transform; 
}
.centro:hover {
    box-shadow: 2px 8px 10px;
    transform: translate(-1px,-6px);
    transition: transform 0.4s ease;
    will-change: transform; 
}
.patagonia:hover {
    box-shadow: 2px 8px 10px;
    transform: translate(-1px,-6px);
    transition: transform 0.4s ease;
    will-change: transform; 
}



@media only screen and (max-width: 992px) {
    main {
        padding-top: 50px;
    }
    main .container-b {
        flex-direction: column;
        border-radius: 10px;
    }
    .reserva, .publicidad {
        width: 80%;
        height: auto;
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .map {
        float: none;
        margin: 10% 0% 0%;
    }
    .map iframe {
        padding: 0% 20%;
    }
    .provincias p {
        font-size: smaller;
        width: fit-content;
    }
    
    
}

@media only screen and (max-width: 600px) {
    main {
        padding: 40px 20px 0px 20px; 
        margin: 0%;
    }
    main .container-b {
        flex-direction: column;
        border-radius: 10px;
    }
    main h3 {
        padding: 40px 20px;
    }
    .titulo-r h3 {
        color: #334750;
        font-size: large;
        font-weight: 400;
    }
    section {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .regiones {
        flex-direction: column;
    }
    .cuyo,.centro,.nea,.noa {
        padding-top: 25%;
    }
    .provincias p {
        text-align: justify;
        text-align: center;
        font-size: medium;
        width: max-content;
    }
    .map {
        width: 100%;
    }
    .map iframe {
        border-radius: 10px;
        padding: 0%;
    }
    .reserva, .publicidad {
        width: 100%;
        height: auto;
    }
    section.noa {
        animation-delay: 2s;
    }
    section.nea {
        animation-delay: 2.5s; 
    }
    section.cuyo {
        animation-delay: 3s; 
    }
    section.centro {
        animation-delay: 3.5s; 
    }
    section.patagonia {
        animation-delay: 4s; 
    }

}

