*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header,body,main,footer{
    overflow: auto;
}

body{
    margin: 0;
    background-color: rgba(226,230,229,255);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header,footer{
    background-color: #011516;
}

.logo {
    margin: 0;
    padding: 30px 20px;
    justify-content: center;
    text-align: center;
    color: #85D4B3;
}

header.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>div>nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
    justify-content: center;
    text-align: center;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: #85D4B3;
}

main {
    justify-content: center;
    text-align: center;
}

main nav {
    padding-top: 50px;
}

main h3{
    padding-top: 15px;
    color: black;
}

footer,.regiones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

section {
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

section.noa {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/Salta-noa.jpg); 
}

section.nea {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/misiones-nea.jpg); 
}

section.cuyo {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/mendoza-cuyo.jpg); 
}

section.centro {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(/tp0-grupo1/imagenes/inicio/EntreRios-Centro.jpg); 
}

section.patagonia {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url(/tp0-grupo1/imagenes/inicio/RioNegro-patagonia.webp); 
}

section>div>article>h4 {
    margin-top: 0;
    color: rgba(226,230,229,255);
}
section>div>article>p {
    color: rgba(226,230,229,255);
}

.map iframe{
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 20px;
    border-radius: 10px;
}

main.map h3 {
    padding-top: 10px;
}

footer p{
    color:#85D4B3;
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }
    header.container {
        flex-direction: row;
        justify-content: space-between;  
    }
    header>div>nav {
        padding: 0 5px 5px 0;
        padding-right: 20px;
    }
    .logo{
        justify-content: left;
        text-align: left;
        padding-bottom: 0;
    }
    main nav {
        padding-top: 140px;
    }
    .regiones {
        flex-direction: row;
    }
    .regiones p{
        font-size: 13px;
        width: 8.3rem;
        height: 200px;
    }
    section {
        margin: 4px;
        border-radius: 0%;
    }
    .map {
        flex-direction: row;
        float: left;
    }
    .map iframe {
        border-radius: 0px; 
    }

}